{% extends 'base.html' %}
{% block title %}Nuevo Destino{% endblock %}

{% block content %}
<h2>Crear Nuevo Destino</h2>
<form method="post">
    <div class="mb-3">
        <label>Ciudad</label>
        <input name="ciudad" class="form-control" required>
    </div>
    <div class="mb-3">
        <label>País</label>
        <input name="pais" class="form-control" required>
    </div>
    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="/destinos" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
